<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
           三晖科技后台管理系统 
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
          <link rel="alternate icon" type="__PUBLICI__/img/ashlogo.png" href="__PUBLICI__/img/ashlogo.png">
        <link rel="stylesheet" href="__PUBLIC__/css/x-admin.css" media="all">
    </head>
    <style type="text/css">
        .welcome{
            font-size: 40px;
            text-align: center;
            margin-top: 400px;
        }
    </style>
    <body>
        <div class="welcome">
          欢迎来到三晖后台管理系统
        </div>
       
        <script src="__PUBLIC__/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__PUBLIC__/js/x-admin.js"></script>
    </body>
</html>