<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>案例详情</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/> 
  <link rel="alternate icon" type="__PUBLIC__/img/ashlogo.png" href="__PUBLIC__/img/ashlogo.png">
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/style.css"/>
</head>
<body>
  
<header class="am-topbar header">
	<div class="am-container-1">
		 <!-- 引入模板文件 -->
  {include file="common/header" /}
  </div>
</header>

<div class="toppic">
	 <div class="am-container-1">
	 <div class="toppic-title left">
			<!-- <i class="am-icon-paper-plane toppic-title-i"></i> -->
      <div style="margin-top:8px;margin-bottom: 5px;">
        <!-- <i class="am-icon-paper-plane toppic-title-i"></i> -->
        <img src="__PUBLIC__/img/example.png" class="toppic-title-i" style="position: relative;top:5px;" />
			<span class="toppic-title-span">案例详情</span>
      </div>
			<p>Case Information</p>
		</div>
		<div class="right toppic-progress">
			<span><a href="{:url('index/custormcase/index')}" class="w-white">客户案例</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="{:url('index/casedetail/index')}" class="w-white">案例详情</a></span>
		</div>
	</div>
</div>


<div >
	<div class=" product-show-ul">
    	<div class="product-content">
		    	<div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-left case-left">
		    		<div class="product-show-title">
		    			<h3>{$detail.casename}</h3>
		    		</div>
		    	
			    	<div class="product-show-content">			    		
			    		<div class="product-intro case-inform">
			    			<span>详情介绍：</span>
			    			<div>
                  {$detail.casecontent}
                </div>
			    		  <i class="am-icon-tasks"></i>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
             <img class="case-img" src="__IMG__{$detail.caseimg}" style="background-color: #fff;" />
		    	</div>	
		    	<div class="clear"></div>
    	</div>
	</div>
</div>

<!-- 引入模板文件 -->
  {include file="common/footer" /}


</body>
<script type="text/javascript">
	//点击导航栏样式切换
	var header=document.getElementById('shlist');
	var aLi=header.getElementsByTagName('a');
	var all=header.getElementsByTagName('li');

	//循环div下面所有的链接，
	for(var i=0;i<aLi.length;i++){
	  //获取每一个a标签的herf属性
	  var links = aLi[i].getAttribute("href");
	  var myurl = document.location.href;
	  //查看li下的链接是否包含当前窗口，如果存在，则给其添加样式
	  if(myurl.indexOf(links) != -1){
	  	for (var j = 0; j < all.length; j++) {
			all[j].className="";
		}
	    all[i].className="hw-menu-active";
	  }
	}
</script>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>

</html>
