<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>新闻动态</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="__PUBLIC__/img/ashlogo.png" href="__PUBLIC__/img/ashlogo.png">
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/style.css"/>
</head>
<style type="text/css">
          ul.pagination{
            margin: 20px;
          }
         ul.pagination li{
            display: inline-block;
            width: 40px;
            background-color: #fff;
            height: 30px;
             line-height: 30px;
             color: #fff;
             font-size: 16px;
             text-align: center;
             border: 1px solid #f1f1f1;
        }
         ul.pagination li.active{
             background-color: #199F93;
         }
        ul.pagination li.disabled{
            display: none;
        }
        div.current{
            display: block;
        }
</style>
<body>
<header class="am-topbar header">
	<div class="am-container-1">
	<!-- 引入模板文件 -->
  {include file="common/header" /}

  </div>
  </div>
</header>
<div class="toppic">
	 <div class="am-container-1">
	 	<div class="toppic-title left">
			<!-- <i class="am-icon-newspaper-o toppic-title-i"></i> -->
			<div style="margin-top:9px;margin-bottom: 5px;">
				<img src="__PUBLIC__/img/newsinfo.png" class="toppic-title-i" style="height:28px;">
				<span class="toppic-title-span">新闻动态</span>
			</div>
			<p>Hengwang News</p>
		</div>
		<div class="right toppic-progress">
			<span><a href="{:url('index/index/index')}" class="w-white">首页</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="{:url('index/news/index')}" class="w-white">新闻动态</a></span>
		</div>
	</div>
</div>

	
<div class="am-container-1 news-content-all">
	<div class="left am-u-sm-12 am-u-md-8 am-u-lg-9 ">
	  <ul class="news-ul">

      {volist name="$news" id="vo"}
      {if condition="$vo.newsimg neq ''"}
  	  	<li class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="height: 401px">
  	  		<a href="{:url('index/newsdetail/index',array('id'=>$vo['id']))}">
    	  		<div class="news-ul-liall">
              <img class="news-ul-liimg" src="__IMG__{$vo.newsimg}" style="height: 243px;width: 243px;border-radius: 4px;box-sizing: border-box;" />
    	  		  <span>{$vo.newstitle}</span>
    	  		  <p>{$vo.newscontent|mb_substr=0,40}...</p>
    	  	    <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
    	  	  </div>
  	  	  </a>
  	  	</li>
      {else /}
        <li class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="height: 401px">
            <a href="{:url('index/newsdetail/index',array('id'=>$vo['id']))}">
              <div class="news-ul-liall">
                <span>{$vo.newstitle}</span>
                <p>{$vo.newscontent|mb_substr=0,40}...</p>
                <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
              </div>
            </a>
        </li>
      {/if}
	  	{/volist}
	  	<div class="clear"></div>
		</ul>
    {$page}
	
	</div>	  

<div class="left am-u-sm-12 am-u-md-4 am-u-lg-3">
	
	<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
		<div class="hot-title"><i class="am-icon-thumbs-o-up"></i>最新动态</div>
      {volist name="$hot" id="vo" key="k"}
       {if condition="$k eq 1"}
       <dl class="am-accordion-item am-active">
        <dt class="am-accordion-title">
          {$vo.newstitle}
        </dt>
        <dd class="am-accordion-bd am-collapse am-in">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
           <a href="{:url('index/newsdetail/index',array('id'=>$vo['id']))}" title="{$vo.newscontent}"> <?php echo mb_substr($vo['newscontent'],0,50) ?>...</a>
          </div>
        </dd>
      </dl>

         {else /}
          <dl class="am-accordion-item">
            <dt class="am-accordion-title">
              {$vo.newstitle}
            </dt>
            <dd class="am-accordion-bd am-collapse ">
              <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
              <div class="am-accordion-content">
                <a href="{:url('index/newsdetail/index',array('id'=>$vo['id']))}" title="{$vo.newscontent}"> <?php echo mb_substr($vo['newscontent'],0,50) ?>...</a>
              </div>
            </dd>
          </dl>

         {/if}
     {/volist}
  </section>
	
</div>

<div class="clear"></div>
</div>


<!-- 引入模板文件 -->
  {include file="common/footer" /}

</body>
<script type="text/javascript">
  //点击导航栏样式切换
  var header=document.getElementById('shlist');
  var aLi=header.getElementsByTagName('a');
  var all=header.getElementsByTagName('li');

  //循环div下面所有的链接，
  for(var i=0;i<aLi.length;i++){
    //获取每一个a标签的herf属性
    var links = aLi[i].getAttribute("href");
    var myurl = document.location.href;
    //查看li下的链接是否包含当前窗口，如果存在，则给其添加样式
    if(myurl.indexOf(links) != -1){
      for (var j = 0; j < all.length; j++) {
      all[j].className="";
    }
      all[i].className="hw-menu-active";
    }
  }
</script>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/amazeui.dialog.min.js"></script>
<script>
  $('.js-alert').on('click', function(){
    var users=document.getElementById('user').value;
    var email=document.getElementById('email').value;
    var msg=document.getElementById('msg').value;
    if (users!=''&&email!=''&&msg!='') {
       AMUI.dialog.alert({
        title: '提示信息',
        content: '提交成功，感谢您的留言！'
      });
       document.getElementById('user').value=""
      document.getElementById('email').value=""
      document.getElementById('msg').value=""
       
    }else{
      AMUI.dialog.alert({
        title: '提示信息',
        content: '留言信息不可以为空，请认真填写！'
      });
    }
  });
</script>
</html>
