<div class="left hw-logo">
  <img class="logo" src="__PUBLIC__/img/sanhui1.png" style="height: 70px;margin-left: -40px;margin-top: -13px;"></img>
  <img class="word" src="__PUBLIC__/img/sanhui2.png"></img>
</div>

<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
  <span class="am-sr-only">导航切换</span> 
  <span class="am-icon-bars"></span>
</button>

 <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">
  <div class="am-topbar-left am-form-inline am-topbar-right" role="search">
    <ul class="am-nav am-nav-pills am-topbar-nav hw-menu" id="shlist">
      <li class="hw-menu-active"><a href="{:url('index/index/index')}">首页</a></li>
      <li><a href="{:url('index/product/index')}">产品展示 </a></li>
      <li><a href="{:url('index/custormcase/index')}">客户案例</a></li>
      <li><a href="{:url('index/news/index')}">新闻动态 </a></li>
      <li><a href="{:url('index/about/index')}">关于我们</a></li>
      <li><a href="{:url('index/recruit/index')}">招贤纳士</a></li>
    </ul>
  </div>
</div>

